input {
    margin: 10px;
}

nb-card {
    width: 50%;
    max-width: 700px;
    min-width: 300px;

    min-height: 100px;
    max-height: 700px;

    background-size: 50%;
    margin-right: auto;
    margin-left: auto;
}