@media only screen and (min-width: 1200px) {
    .exemple-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        max-height: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    .restreint {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 100px;
        width: 500px;
        max-width: 700px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1199px) {
    .exemple-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.example-box {
    width: 300px;
    min-width: 100px;
    padding: 5px 5px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: move;
    background: #323259;
    font-size: 14px;
}

.example-box>p {
    font-weight: bold;
}

.cdk-drag-preview {
    min-width: 300px;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
    background: #252547;
    border: dotted 3px #13132b;
    min-height: 100px;
    width: 300px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.prof {
    display: grid;
    grid-template: 1fr / 70px 100px;
    grid-gap: 15px;
    align-items: center;
}

h1 {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}