<div *ngIf="!mobile" class="grid">
  <div class="colored-column-warning">
    <button (click)="goTo('/home')" *ngIf="this.isAuth" nbButton outline status="info">Tierlist Publique</button>
    <button (click)="goTo('/CreateTierlList')" *ngIf="this.isAuth" nbButton outline status="info">Créer une tierlist</button>
    <button (click)="editTierlist()" *ngIf="this.isAuth" nbButton outline status="info">Modifier une tierlist</button>
    <button (click)="onViewTierlistPerso()" *ngIf="this.isAuth" nbButton outline status="info">Tierlist Effectuées</button>
  </div>

  <div class="flex justify-center items-center">
    <button (click)="goTo('/auth/signin')" *ngIf="!this.isAuth" class="right" nbButton outline status="success">Se connecter</button>
    <button (click)="goTo('/auth/signup')" *ngIf=" !this.isAuth" class="right" nbButton outline status="success">S'inscrire</button>
    <nb-icon (click)="onShowUserSettings()" *ngIf="this.isAuth" class="cursor-pointer" icon="person-outline" style="height: 50px; width: 50px"></nb-icon>
    <button (click)="onSignOut()" *ngIf=" this.isAuth" class="right" nbButton outline status="danger" style="opacity : 0.9">Deconnexion</button>
  </div>
</div>

<button *ngIf="mobile && isAuth" [nbContextMenu]="itemsAuth" nbButton ngCloak outline status="success">
  Menu
</button>

<button *ngIf="mobile && !isAuth" [nbContextMenu]="itemsNotAuth" nbButton ngCloak outline status="success">
  Menu
</button>


<app-modal-user [style]="isVisible()" *ngIf="isAuth"></app-modal-user>
