<div class="grid" *ngIf="!mobile">
  <div class="colored-column-warning">
    <button *ngIf="this.isAuth" nbButton outline status="info" (click)="goTo('/home')">Tierlist Publique</button>
    <button *ngIf="this.isAuth" nbButton outline status="info" (click)="goTo('/CreateTierlList')">Créer une tierlist</button>
    <button *ngIf="this.isAuth" nbButton outline status="info" (click)="editTierlist()">Modifier une tierlist</button>
    <button *ngIf="this.isAuth" nbButton outline status="info" (click)="onViewTierlistPerso()">Vos tierlists</button>
  </div>

  <div>
    <button *ngIf="!this.isAuth" nbButton outline status="success" class="right" (click)="goTo('/auth/signin')">Se connecter</button>
    <button *ngIf=" !this.isAuth" nbButton outline status="success" class="right" (click)="goTo('/auth/signup')">S'inscrire</button>
    <button *ngIf=" this.isAuth" nbButton outline status="danger" style="opacity : 0.9" class="right" (click)="onSignOut()">Deconnexion</button>
  </div>
</div>

<button outline nbButton status="success" [nbContextMenu]="itemsAuth" *ngIf="mobile && isAuth" ngCloak>
  Menu
</button>

<button outline nbButton status="success" [nbContextMenu]="itemsNotAuth" *ngIf="mobile && !isAuth" ngCloak>
  Menu
</button>
