<div class="flex w-full h-full">
  <div class="w-1/4 flex justify-start px-4 h-full mx-2">
    <app-tierlist-bar (onSave)="onSaveEmit()" [isPublic]="isPublic" [tierlist]="tierlist" class="w-full h-full"></app-tierlist-bar>
  </div>
  <div *ngIf="tierlist && tierlist.items" class="w-3/4">
    <div cdkDropListGroup class="exemple-container flex flex-col h-96 flex-wrap">
      <div *ngFor="let item of tierlist.items; let i = index" [cdkDropListData]="i" cdkDropList class="restreint">
        <div class="PASTOUCHE">
          <div (cdkDragEntered)="dragEntered($event)" (cdkDragReleased)="onSaveEmit()" [cdkDragData]="i" cdkDrag class="example-box">
            <app-tierlist-item [name]="item.name" [order]="i" [url]="item.url"></app-tierlist-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="relative ">
  <div class="absolute inset-0 flex justify-center h-12">
  <button nbButton outline status="info" class=" ">Save my tierlist</button>
  </div>
</div>

