.inputWidth {
  width : 100% !important;
  min-width: 100% !important;
  max-width : 100% !important;

}
.inputHeight {
  height : 40px !important;
  min-height: 40px !important;
  max-height : 40px !important;

}
