<nb-card class="h-full">


  <nb-card-header>
    <div class="flex flex-row justify-between pr-5 items-center">
      <div class="flex flex-row items-center h-8">

        <label class="flex flex-row items-center cursor-pointer" for="title">
          <nb-icon (click)="onEditTitle()" *ngIf="!editTitle && tierlist" class="text-4xl" icon="edit-2-outline" style="width: 50px; max-width: 50px"></nb-icon>
          <p *ngIf="!editTitle && tierlist" class="w-full text-2xl text-center ">{{tierlist.name}}</p>
        </label>
        <nb-icon (click)="onChangeTitle()" *ngIf="editTitle && tierlist" class="text-4xl cursor-pointer mx-1 hover:animate-spin" icon="checkmark-circle-2-outline" [status]="(this.tempTitle && this.tempTitle.length >= 3)? 'success' : 'danger' " style="width: 50px; max-width: 50px"></nb-icon>
        <input #title (keyup)="changeTitle(title.value)" *ngIf="editTitle && tierlist" [value]="tierlist.name" class="w-4/6" id="title" nbInput placeholder="Tierlist name" status="primary" type="text"/>

      </div>
      <div class="flex items-center select-none">
        <p class="text-lg">{{isPublic ? 'Publique' : 'Privé'}}</p>
        <nb-icon (click)="toggle()" [status]="isPublic ? 'success' : 'danger'" class="text-4xl cursor-pointer" icon="info-outline" style="width: 50px; max-width: 50px"></nb-icon>
      </div>
    </div>
  </nb-card-header>


  <nb-card-body>
    <div class="flex flex-col">
      <label class="mb-1 text-lg" for="description">Description</label>
      <textarea #description (keyup)="changeDescription(description.value)" *ngIf="tierlist" [value]="tierlist.description ? tierlist.description : '' " fullWidth id="description" nbInput placeholder="Description de fou pour la tierlist" status="primary"></textarea>
    </div>
  </nb-card-body>

  <!-- TODO : Animation sur la position ou hauteur du flex quand l'érreur s'affiche-->
  <nb-card-footer>
    <label class="mb-1 text-lg" for="itemName">Items</label>
    <form (ngSubmit)="onAddItem()" [formGroup]="itemsForm">
      <div class="flex flex-col justify-center w-full">
        <div [@grow]="haveError" class="flex flex-col w-full justify-start">
          <input (keyup)="onContentChange()" [status]="name!.errors ? 'danger' : 'success' " autocomplete="off" class="inputWidth inputHeight" formControlName="name" id="itemName" nbInput placeholder="Item Name" required type="text"/>
          <div *ngIf="name!.invalid && (name!.dirty || name!.touched)" [@errorAnimation] class="alert alert-danger ml-2">
            <div *ngIf="name!.errors?.['required']" class="redError">
              <p>
                Il faut un nom... <span class="text-xl">😐</span>
              </p>
            </div>
          </div>
        </div>

        <input [status]="url!.errors ? 'danger' : 'success' " autocomplete="off" class="my-2 inputWidth" formControlName="url" nbInput placeholder="Item Url" type="text"/>


        <button [disabled]="itemsForm.invalid" class="mt-2 " nbButton status="info" type="submit">Add Item</button>
      </div>
    </form>
  </nb-card-footer>
</nb-card>
